<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8800/CalculatorService"
        behaviorConfiguration="ClientCertificateBehavior" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding" contract="CalculatorServiceReference.ICalculatorService"
        name="Username" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculatorService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <!--
            Setting the certificateValidationMode to PeerOrChainTrust
            means that if the certificate
            is in the user's Trusted People store, then it will be
            trusted without performing a
            validation of the certificate's issuer chain. This setting
            is used here for convenience so that the
            sample can be run without having to have certificates
            issued by a certification authority (CA).
            This setting is less secure than the default, ChainTrust.
            The security implications of this
            setting should be carefully considered before using
            PeerOrChainTrust in production code.
            -->
              <authentication certificateValidationMode="PeerOrChainTrust"   />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>